*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    font-weight: 100;
}

body{
    background-color: #4d4949;
}

.flex_container{
    background-color: #222;
    border: 14px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    outline: 3px solid #094;
    width: 50%;
}

.form{
    min-width: 225px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form_input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #1c7;
    color: #fff;
    padding: 7px;
    width: 100%;
}

.form_input:focus{
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
}

textarea{
    min-height: 100px;
    resize: none;
}

.form_image{
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 100px;
    max-width: 400px;
    order: 2;
}

.class-img{
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

.form_image img{
    width: 90%;
}

.form_input[type="submit"]{
    background-color: #094;
    border-bottom: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 12px;
    transition: all .3s;
    width: 30%;
}

.form_input[type="submit"]:hover{
    background-color: #18b840;
}

.form_input[type="submit"]:focus{
    background-color: #18b840;
}

.form_input[type="submit"]:active{
    background: linear-gradient(to bottom, #072, #18b840);
    transform: scale(.9);
}